/* variables SCSS File */


//Color
$red : #d71a21;
$black : #000000;
$yellow : #ffcb05;
$grey : #656565;
$white : #FFF;

//Font

$titre-font : Oswald;
$titre-article : Lato;
$paragraphe-font : Roboto;

//Taille

$max-width : 100%;
$min-width : 0%;
$container-width : 80%;
